body {
    background: black;
}

p {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.post {
    width: 50%;
    background: white;;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.post-body {
    padding: 8px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-ellipsis-vertical, .fa-html5,
.fa-heart, .fa-comment, .fa-paper-plane,
.fa-bookmark {
    font-size: 25px;
}

.text-container {
    line-height: 5px;
}

img {
    max-width: 100%;
}

.post-icons {
    display: flex;
    justify-content: space-between;
}